.conteiner {
   .todo__conteiner {
      display: flex;
      flex-direction: column;
      .img_checked__conteiner {
         display: flex;
         .img__checked {
            margin-top: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #000;
            position: relative;
            img {
               width: 30px;
               position: absolute;
            }
         }
         .todo_checked {
            opacity: 0.5;
            margin-left: 20px;
            text-decoration: line-through;
            color: rgb(95, 187, 3);
         }
         .todo_notChecked {
            margin-left: 20px;
         }
      }
      .todo__item {
         margin-left: 90px;
         font-size: 24px;
         .checked {
            opacity: 0.5;
         }
         .notChecked {

         }
         table {
            border-collapse: collapse;
            border: 2px solid rgb(0, 0, 0);
            width: 100%;
            tr {
               .td_header {
                  font-weight: 700;
                  color: rgb(0, 0, 0);
                  padding: 10px;
                  border: 2px solid rgb(0, 0, 0);
                  text-align: center;
               }
               .td_body {
                  text-align: center;
                  font-size: 16px;
                  padding: 10px;
                  border: 2px solid rgb(0, 0, 0);
               }
            }
         }
      }
      .todo_item_button_container {
         display: flex;
         justify-content: right;
         gap: 5px;
         .todo_item_button_delete {
            border-radius: 5px;
            border: 1px solid rgba(210, 25, 25, 0.5);
            color: #d21919;
            padding: 8px 20px;
            cursor: pointer;
            background-color: white;
         }
         
         .todo_item_button_delete:hover {
            background-color: rgba(210, 25, 25, 0.05);
         }
         
         .todo_item_button_edit {
            border-radius: 5px;
            border: 1px solid rgba(210, 102, 25, 0.5);
            color: #d27c19;
            padding: 8px 20px;
            cursor: pointer;
            background-color: white;
         }
         
         .todo_item_button_edit:hover {
            background-color: rgba(210, 84, 25, 0.05);
         }
         
      }
   }
}
